<!--
Apache Tomcat web applications global context configuration (the
contents of this file will be loaded for each web application).

Copy this file into conf/context.xml.
-->
<Context>
	<!-- Default set of monitored resources -->
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	
	<!-- Uncomment this to disable session persistence across Tomcat restarts -->
	<!--
	<Manager pathname="" />
	-->

	<!-- Uncomment this to enable Comet connection tacking (provides events
	on session expiration as well as webapp lifecycle) -->
	<!--
	<Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
	-->

	<!-- JDBC resource configuration. Available options are:

	maxActive: Maximum number of dB connections in pool. Set to 0 for no limit.
	maxIdle: Maximum number of idle dB connections to retain in pool.  Set to -1
		for no limit.
	maxWait: Maximum time to wait for a dB connection to become available in ms. An
		exception is thrown if this timeout is exceeded.  Set to -1 to wait
		indefinitely.
	username and password: MySQL dB username and password for dB connections
	url: The JDBC connection url for connecting to your MySQL dB. The
		autoReconnect=true argument to the url makes sure that the
		MySQL JDBC Driver will automatically reconnect if mysqld closed the
		connection.  mysqld by default closes idle connections after 8 hours.
	-->
	<Resource name="jdbc/progtest" type="javax.sql.DataSource"
		auth="Container"
		maxActive="10"
		maxIdle="2"
		maxWait="-1"
		username="test"
		password="test"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost:3306/progtest?autoReconnect=true"
	/>
</Context>
